@model string

@{
    ViewData["Title"] = "Create a role";
}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f0f0f0;
        padding: 20px;
    }

    h1 {
        color: #333;
        text-align: center;
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        color: #333;
    }

    input[type="text"] {
        border: 2px solid #007bff;
        border-radius: 5px;
        padding: 10px;
    }

        input[type="text"]:focus {
            border-color: #0056b3;
        }

    .btn-primary {
        background-color: #007bff;
        border: 2px solid #007bff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
</style>
<h1>Create a role</h1>

<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Role name</label>
                <input type="text" name="name" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
